In [12]:
import pandas as pd
import numpy as np
from scipy import stats

In [8]:
df = pd.read_csv("framingham.csv")

In [9]:
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4135 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [ ]:

z_scores = np.abs(stats.zscore(df['education']))
z_outliers = df[z_scores > 3]
 
print("Z-Score Outliers in 'education':")
print(z_outliers)
 
# --- IQR Method ---
Q1 = df['education'].quantile(0.25)
Q3 = df['education'].quantile(0.75)
IQR = Q3 - Q1
 
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
 
iqr_outliers = df[(df['education'] < lower_bound) | (df['education'] > upper_bound)]
 
print("\nIQR Outliers in 'education':")
print(iqr_outliers)

Z-Score Outliers in 'education':
Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, TenYearCHD]
Index: []

IQR Outliers in 'education':
Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, TenYearCHD]
Index: []

In [20]:
df.shape

(4240, 16)

In [ ]:
df["TenYearCHD"].value_counts()
15.18-1
84.81-0

TenYearCHD
0    3596
1     644
Name: count, dtype: int64

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

# Load your dataset
df = pd.read_csv('framingham.csv')

# Define correct features and target
features = ['age', 'education', 'cigsPerDay', 'BPMeds', 'prevalentStroke', 'BMI', 'glucose']
target = 'TenYearCHD'

# Drop missing values from selected columns
def treat_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Find outliers
    iqr_outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]

    print(f"\nIQR Outliers in '{column}':")
    print(iqr_outliers)

    return iqr_outliers


# Optional: combine for export or analysis
df_balanced = pd.concat([X_resampled_df, y_resampled_df], axis=1)
print("\nüîç Sample of balanced dataset:")
print(df_balanced.head())

‚úÖ Class distribution after SMOTE:
TenYearCHD
0    3109
1    3109
Name: count, dtype: int64

üîç Sample of balanced dataset:
        age  education  cigsPerDay    BPMeds  prevalentStroke       BMI  \
0 -1.232981   1.977412   -0.757395 -0.176652        -0.075883  0.291816
1 -0.415536   0.020276   -0.757395 -0.176652        -0.075883  0.724920
2 -0.181980  -0.958293    0.921535 -0.176652        -0.075883 -0.109297
3  1.336133   0.998844    1.761000 -0.176652        -0.075883  0.688008
4 -0.415536   0.998844    1.173374 -0.176652        -0.075883 -0.660520

    glucose  TenYearCHD
0 -0.204268           0
1 -0.246136           0
2 -0.497339           0
3  0.884281           1
4  0.130670           0

In [ ]:
df.shape

(4240, 16)

2025-05-07 16:09:55,504 - INFO     - Executing shutdown due to inactivity...
2025-05-07 16:09:59,668 - INFO     - Executing shutdown...
2025-05-07 16:09:59,680 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer

In [4]:
import dtale
dtale.show(df)

In [8]:
import pandas as pd

In [9]:
df.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.954335,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [5]:
import pandas as pd
from scipy.stats import f_oneway

# Load your dataset
df = pd.read_csv('framingham.csv')

# Fill missing values with column mean
df = df.fillna(df.mean(numeric_only=True))

# Target variable
target = 'TenYearCHD'

# Select numeric columns excluding the target
numeric_cols = df.select_dtypes(include='number').columns.drop(target)

# Perform ANOVA for each column
anova_results = {}
for col in numeric_cols:
    group0 = df[df[target] == 0][col]
    group1 = df[df[target] == 1][col]
    f_stat, p_val = f_oneway(group0, group1)
    anova_results[col] = {
        'F-statistic': f_stat,
        'p-value': p_val,
        'Significant (<0.05)': p_val < 0.05
    }

# Convert to DataFrame for readability
anova_df = pd.DataFrame(anova_results).T
anova_df = anova_df.sort_values(by='p-value')

print(anova_df)

                F-statistic   p-value Significant (<0.05)
age              226.853168       0.0                True
sysBP            208.158627       0.0                True
prevalentHyp     137.799103       0.0                True
diaBP             91.160759       0.0                True
glucose           62.392476       0.0                True
diabetes          40.543047       0.0                True
male              33.358835       0.0                True
BPMeds            32.176102       0.0                True
totChol           28.553516       0.0                True
BMI               23.837248  0.000001                True
prevalentStroke    16.25994  0.000056                True
cigsPerDay        14.130108  0.000173                True
education         12.197315  0.000483                True
heartRate          2.221967  0.136134               False
currentSmoker      1.603605  0.205463               False